*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #000;
    font-family: sans-serif;}

    h1{
        text-align: center;
        color: #fff;
        font-size: 4rem;
        text-transform: capitalize;
      
    }
    #btn{
        margin-top: 100px;
        padding: 10px 30px;
        width: 50%;
        border-radius: 10px;
        font-size: 2rem;
        margin-left: 250px;
        cursor: pointer;
        transition: all 0.5s;
    }
    #btn:hover{
     background-color: rgb(8, 255, 247);
  

    }
    .box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        flex-wrap: wrap;
    }