*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    padding: 15px 40px;
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.5s;
position: relative;
background: #000;
text-transform: capitalize;
clip-path: polygon(1% 9%, 85% 6%, 100% 50%, 84% 92%, 0 92%);

}
a:hover{
    background-color: #fff;
    color: #000;
    letter-spacing: 4px;
}

